In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as sm

In [2]:
# US commercial flight data for 2008 from http://stat-computing.org/dataexpo/2009/the-data.html

In [3]:
location = '2008.csv'
df = pd.read_csv(location)
df.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,7009728.0,7.009728e+06,7.009728e+06,7.009728e+06,6.873482e+06,7.009728e+06,6.858079e+06,7.009728e+06,7.009728e+06,6.855029e+06,...,7.009728e+06,6.858079e+06,6.872670e+06,7.009728e+06,7.009728e+06,1.524735e+06,1.524735e+06,1.524735e+06,1.524735e+06,1.524735e+06
mean,2008.0,6.375130e+00,1.572801e+01,3.924182e+00,1.333830e+03,1.326086e+03,1.481258e+03,1.494801e+03,2.224200e+03,1.273224e+02,...,7.263870e+02,6.860852e+00,1.645305e+01,1.960618e-02,2.463006e-03,1.577206e+01,3.039031e+00,1.716462e+01,7.497434e-02,2.077098e+01
std,0.0,3.406737e+00,8.797068e+00,1.988259e+00,4.780689e+02,4.642509e+02,5.052251e+02,4.826728e+02,1.961716e+03,7.018731e+01,...,5.621018e+02,4.933649e+00,1.133280e+01,1.386426e-01,4.956753e-02,4.009912e+01,1.950287e+01,3.189495e+01,1.837940e+00,3.925964e+01
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.200000e+01,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,9.280000e+02,9.250000e+02,1.107000e+03,1.115000e+03,6.220000e+02,7.700000e+01,...,3.250000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.325000e+03,1.320000e+03,1.512000e+03,1.517000e+03,1.571000e+03,1.100000e+02,...,5.810000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.728000e+03,1.715000e+03,1.909000e+03,1.907000e+03,3.518000e+03,1.570000e+02,...,9.540000e+02,8.000000e+00,1.900000e+01,0.000000e+00,0.000000e+00,1.600000e+01,0.000000e+00,2.100000e+01,0.000000e+00,2.600000e+01
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.743000e+03,1.379000e+03,...,4.962000e+03,3.080000e+02,4.290000e+02,1.000000e+00,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

In [5]:
len(df)

7009728

In [6]:
# df has 7,009,728 rows

In [7]:
# check for duplicate rows

In [8]:
dfdup = df[df.duplicated(keep = False)]
len(dfdup)

8

In [9]:
dfdup

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
938220,2008,2,28,4,829.0,835,1341.0,1350,F9,728,...,6.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
938221,2008,2,28,4,829.0,835,1341.0,1350,F9,728,...,6.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
938222,2008,2,28,4,1427.0,1435,1640.0,1636,F9,727,...,9.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
938223,2008,2,28,4,1427.0,1435,1640.0,1636,F9,727,...,9.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
938224,2008,2,28,4,1854.0,1807,1946.0,1902,F9,773,...,8.0,13.0,0,NaN,0,44.0,0.0,0.0,0.0,0.0
938225,2008,2,28,4,1854.0,1807,1946.0,1902,F9,773,...,8.0,13.0,0,NaN,0,44.0,0.0,0.0,0.0,0.0
938226,2008,2,28,4,2027.0,1942,2314.0,2229,F9,780,...,10.0,13.0,0,NaN,0,1.0,0.0,44.0,0.0,0.0
938227,2008,2,28,4,2027.0,1942,2314.0,2229,F9,780,...,10.0,13.0,0,NaN,0,1.0,0.0,44.0,0.0,0.0

In [10]:
# 4 rows have been duplicated

In [11]:
# remove duplicate rows

In [12]:
df = df.drop_duplicates()
len(df)

7009724

In [13]:
df.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,7009724.0,7.009724e+06,7.009724e+06,7.009724e+06,6.873478e+06,7.009724e+06,6.858075e+06,7.009724e+06,7.009724e+06,6.855025e+06,...,7.009724e+06,6.858075e+06,6.872666e+06,7.009724e+06,7.009724e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06
mean,2008.0,6.375132e+00,1.572801e+01,3.924181e+00,1.333830e+03,1.326086e+03,1.481258e+03,1.494801e+03,2.224201e+03,1.273224e+02,...,7.263868e+02,6.860851e+00,1.645305e+01,1.960619e-02,2.463007e-03,1.577205e+01,3.039035e+00,1.716462e+01,7.497444e-02,2.077101e+01
std,0.0,3.406736e+00,8.797066e+00,1.988260e+00,4.780689e+02,4.642509e+02,5.052251e+02,4.826728e+02,1.961716e+03,7.018731e+01,...,5.621018e+02,4.933651e+00,1.133280e+01,1.386427e-01,4.956754e-02,4.009913e+01,1.950289e+01,3.189497e+01,1.837941e+00,3.925965e+01
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.200000e+01,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,9.280000e+02,9.250000e+02,1.107000e+03,1.115000e+03,6.220000e+02,7.700000e+01,...,3.250000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.325000e+03,1.320000e+03,1.512000e+03,1.517000e+03,1.571000e+03,1.100000e+02,...,5.810000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.728000e+03,1.715000e+03,1.909000e+03,1.907000e+03,3.518000e+03,1.570000e+02,...,9.540000e+02,8.000000e+00,1.900000e+01,0.000000e+00,0.000000e+00,1.600000e+01,0.000000e+00,2.100000e+01,0.000000e+00,2.600000e+01
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.743000e+03,1.379000e+03,...,4.962000e+03,3.080000e+02,4.290000e+02,1.000000e+00,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

In [ ]:
# df has 7,009,724 rows
# there were 7,009,724 total flights in 2008

In [ ]:
df.to_csv('2008_r1.csv',index=False)

In [14]:
dfc = df[df['Cancelled'] == 1]
dfc.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN

In [15]:
len(dfc)

137434

In [16]:
# 137,434 flights were cancelled in 2008

In [ ]:
# reason for cancellation (A = carrier, B = weather, C = NAS, D = security)

In [22]:
len(df[df['CancellationCode'] == 'A'])

54330

In [ ]:
# 54,330 cancelled due to carrier

In [24]:
dfcA = df[(df['Cancelled'] == 1) & (df['CancellationCode'] == 'A')]
dfcA.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,54330.0,54330.000000,54330.000000,54330.000000,574.000000,54330.000000,0.0,54330.000000,54330.000000,0.0,...,54330.000000,0.0,135.000000,54330.0,54330.0,0.0,0.0,0.0,0.0,0.0
mean,2008.0,5.564550,15.031235,3.733462,1247.494774,1303.008448,NaN,1466.187686,2402.202945,NaN,...,634.408467,NaN,19.340741,1.0,0.0,NaN,NaN,NaN,NaN,NaN
std,0.0,3.463113,8.693932,1.915551,513.326532,461.645574,NaN,478.624993,2117.814574,NaN,...,505.499929,NaN,16.041068,0.0,0.0,NaN,NaN,NaN,NaN,NaN
min,2008.0,1.000000,1.000000,1.000000,7.000000,5.000000,NaN,1.000000,1.000000,NaN,...,21.000000,NaN,5.000000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
25%,2008.0,3.000000,8.000000,2.000000,813.000000,910.000000,NaN,1055.000000,690.000000,NaN,...,278.000000,NaN,12.000000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
50%,2008.0,5.000000,14.000000,4.000000,1207.000000,1300.000000,NaN,1450.000000,1668.000000,NaN,...,483.000000,NaN,15.000000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
75%,2008.0,8.000000,23.000000,5.000000,1628.000000,1700.000000,NaN,1850.000000,3724.000000,NaN,...,829.000000,NaN,21.000000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
max,2008.0,12.000000,31.000000,7.000000,2349.000000,2359.000000,NaN,2359.000000,8941.000000,NaN,...,4502.000000,NaN,149.000000,1.0,0.0,NaN,NaN,NaN,NaN,NaN

In [25]:
dfcA = df[df['CancellationCode'] == 'A']
dfcA.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,54330.0,54330.000000,54330.000000,54330.000000,574.000000,54330.000000,0.0,54330.000000,54330.000000,0.0,...,54330.000000,0.0,135.000000,54330.0,54330.0,0.0,0.0,0.0,0.0,0.0
mean,2008.0,5.564550,15.031235,3.733462,1247.494774,1303.008448,NaN,1466.187686,2402.202945,NaN,...,634.408467,NaN,19.340741,1.0,0.0,NaN,NaN,NaN,NaN,NaN
std,0.0,3.463113,8.693932,1.915551,513.326532,461.645574,NaN,478.624993,2117.814574,NaN,...,505.499929,NaN,16.041068,0.0,0.0,NaN,NaN,NaN,NaN,NaN
min,2008.0,1.000000,1.000000,1.000000,7.000000,5.000000,NaN,1.000000,1.000000,NaN,...,21.000000,NaN,5.000000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
25%,2008.0,3.000000,8.000000,2.000000,813.000000,910.000000,NaN,1055.000000,690.000000,NaN,...,278.000000,NaN,12.000000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
50%,2008.0,5.000000,14.000000,4.000000,1207.000000,1300.000000,NaN,1450.000000,1668.000000,NaN,...,483.000000,NaN,15.000000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
75%,2008.0,8.000000,23.000000,5.000000,1628.000000,1700.000000,NaN,1850.000000,3724.000000,NaN,...,829.000000,NaN,21.000000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
max,2008.0,12.000000,31.000000,7.000000,2349.000000,2359.000000,NaN,2359.000000,8941.000000,NaN,...,4502.000000,NaN,149.000000,1.0,0.0,NaN,NaN,NaN,NaN,NaN

In [26]:
# there are no flights with CancellationCode = 'A' that do not also have Cancelled = 1

In [27]:
len(df[df['CancellationCode'] == 'B'])

54904

In [ ]:
# 54,904 cancelled due to weather

In [28]:
len(df[df['CancellationCode'] == 'C'])

28188

In [ ]:
# 28,188 cancelled due to NAS (National Air System)

In [29]:
len(df[df['CancellationCode'] == 'D'])

12

In [ ]:
# 12 cancelled due to security

In [ ]:
# Summary of cancelled flights
# 137,434 flights were cancelled with the following reasons:
# carrier: 54,330, weather: 54,904, NAS (National Air System): 28,188, security: 12

In [30]:
dfd = df[(df['CarrierDelay'] + df['WeatherDelay'] + df['NASDelay'] + df['SecurityDelay'] + df['LateAircraftDelay']) > 0]
dfd.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0

In [31]:
dfd.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1524733.0,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,...,1.524733e+06,1.524733e+06,1.524733e+06,1524733.0,1524733.0,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06
mean,2008.0,6.068517e+00,1.570049e+01,3.963915e+00,1.501993e+03,1.444966e+03,1.589677e+03,1.615356e+03,2.240762e+03,1.438703e+02,...,7.699337e+02,7.905359e+00,2.307757e+01,0.0,0.0,1.577205e+01,3.039035e+00,1.716462e+01,7.497444e-02,2.077101e+01
std,0.0,3.511026e+00,8.781586e+00,1.984438e+00,4.721422e+02,4.388771e+02,5.713560e+02,4.710017e+02,1.990780e+03,7.644197e+01,...,5.812315e+02,7.107639e+00,1.873383e+01,0.0,0.0,4.009913e+01,1.950289e+01,3.189497e+01,1.837941e+00,3.925965e+01
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.400000e+01,...,1.100000e+01,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.140000e+03,1.110000e+03,1.249000e+03,1.256000e+03,6.250000e+02,8.800000e+01,...,3.370000e+02,4.000000e+00,1.200000e+01,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.541000e+03,1.500000e+03,1.711000e+03,1.656000e+03,1.560000e+03,1.260000e+02,...,6.100000e+02,6.000000e+00,1.700000e+01,0.0,0.0,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.902000e+03,1.813000e+03,2.034000e+03,2.010000e+03,3.600000e+03,1.780000e+02,...,1.005000e+03,9.000000e+00,2.800000e+01,0.0,0.0,1.600000e+01,0.000000e+00,2.100000e+01,0.000000e+00,2.600000e+01
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.359000e+03,9.741000e+03,1.379000e+03,...,4.962000e+03,3.080000e+02,4.290000e+02,0.0,0.0,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

In [ ]:
# all values for dfd['Cancelled'] are 0, therefore there are no flights with data indicating both delays and cancelled

In [32]:
len(dfd)

1524733

In [ ]:
# 1,524,733 flights were delayed in 2008

In [36]:
len(df[df['CarrierDelay'] > 0])

670620

In [ ]:
# 670,620 flights were delayed due to carrier delay

In [37]:
len(df[df['WeatherDelay'] > 0])

99985

In [ ]:
# 99,985 flights were delayed due to weather

In [38]:
len(df[df['NASDelay'] > 0])

928030

In [ ]:
# 928,030 flights were delayed due to NAS

In [39]:
len(df[df['SecurityDelay'] > 0])

6202

In [ ]:
# 6,202 flights were delayed due to security

In [40]:
len(df[df['LateAircraftDelay'] > 0])

699418

In [ ]:
# 699,418 flights were delayed due to late aircraft

In [ ]:
# 1,524,733 flights were delayed: 
# 670,620 carrier delays
# 99,985 weather delays
# 928,030 NAS (National Air System) delays
# 6,202 security delays
# 699,418 late aircraft delays
# These add up to more than 1,524,733 because some flights have multiple delays, such as carrier delay and late aircraft delay.

In [41]:
dfd['TotalDelay'] = dfd['CarrierDelay'] + dfd['WeatherDelay'] + dfd['NASDelay'] + dfd['SecurityDelay'] + dfd['LateAircraftDelay']
dfd.head()

C:\Users\Sarah\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TotalDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0,34.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0,57.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0,80.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0,15.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0,16.0

In [42]:
dfd.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TotalDelay
count,1524733.0,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,...,1.524733e+06,1.524733e+06,1524733.0,1524733.0,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06,1.524733e+06
mean,2008.0,6.068517e+00,1.570049e+01,3.963915e+00,1.501993e+03,1.444966e+03,1.589677e+03,1.615356e+03,2.240762e+03,1.438703e+02,...,7.905359e+00,2.307757e+01,0.0,0.0,1.577205e+01,3.039035e+00,1.716462e+01,7.497444e-02,2.077101e+01,5.682169e+01
std,0.0,3.511026e+00,8.781586e+00,1.984438e+00,4.721422e+02,4.388771e+02,5.713560e+02,4.710017e+02,1.990780e+03,7.644197e+01,...,7.107639e+00,1.873383e+01,0.0,0.0,4.009913e+01,1.950289e+01,3.189497e+01,1.837941e+00,3.925965e+01,5.716356e+01
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.400000e+01,...,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.140000e+03,1.110000e+03,1.249000e+03,1.256000e+03,6.250000e+02,8.800000e+01,...,4.000000e+00,1.200000e+01,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.300000e+01
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.541000e+03,1.500000e+03,1.711000e+03,1.656000e+03,1.560000e+03,1.260000e+02,...,6.000000e+00,1.700000e+01,0.0,0.0,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00,3.700000e+01
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.902000e+03,1.813000e+03,2.034000e+03,2.010000e+03,3.600000e+03,1.780000e+02,...,9.000000e+00,2.800000e+01,0.0,0.0,1.600000e+01,0.000000e+00,2.100000e+01,0.000000e+00,2.600000e+01,6.900000e+01
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.359000e+03,9.741000e+03,1.379000e+03,...,3.080000e+02,4.290000e+02,0.0,0.0,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03,2.461000e+03

In [43]:
print('Total delay mean:',dfd['TotalDelay'].mean())
print('Total delay median:',dfd['TotalDelay'].median())
print('Total delay sum:',dfd['TotalDelay'].sum())

Total delay mean: 56.82168878092099
Total delay median: 37.0
Total delay sum: 86637904.0

In [ ]:
# for flights that were delayed:
# mean delay: approx. 56.8 minutes
# median delay: 37 minutes
# the total number of minutes of delays over all flights was 86,637,904 minutes

In [44]:
dfcd = dfd[dfd['CarrierDelay'] > 0]
dfcd.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TotalDelay
count,670620.0,670620.000000,670620.000000,670620.000000,670620.000000,670620.000000,670620.000000,670620.000000,670620.000000,670620.000000,...,670620.000000,670620.000000,670620.0,670620.0,670620.000000,670620.000000,670620.000000,670620.000000,670620.000000,670620.000000
mean,2008.0,6.089744,15.741817,4.033481,1512.881065,1449.318537,1574.368326,1609.602225,2197.267962,138.461668,...,6.811255,19.472655,0.0,0.0,35.859611,0.321592,6.791335,0.003683,14.760416,57.736636
std,0.0,3.524034,8.766271,1.994072,473.642788,446.871757,583.367552,484.744220,1942.333879,75.920065,...,5.305210,14.045140,0.0,0.0,54.180355,5.708048,14.245751,0.439754,32.731284,60.602662
min,2008.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,15.000000,...,0.000000,0.000000,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,15.000000
25%,2008.0,3.000000,8.000000,2.000000,1144.000000,1106.000000,1240.000000,1250.000000,625.000000,83.000000,...,4.000000,11.000000,0.0,0.0,9.000000,0.000000,0.000000,0.000000,0.000000,24.000000
50%,2008.0,6.000000,16.000000,4.000000,1543.000000,1500.000000,1659.000000,1650.000000,1555.000000,120.000000,...,5.000000,16.000000,0.0,0.0,19.000000,0.000000,0.000000,0.000000,0.000000,38.000000
75%,2008.0,9.000000,23.000000,6.000000,1912.000000,1822.000000,2029.000000,2015.000000,3446.000000,171.000000,...,8.000000,23.000000,0.0,0.0,41.000000,0.000000,9.000000,0.000000,16.000000,69.000000
max,2008.0,12.000000,31.000000,7.000000,2400.000000,2359.000000,2400.000000,2359.000000,9741.000000,1379.000000,...,207.000000,383.000000,0.0,0.0,2436.000000,847.000000,1289.000000,193.000000,1254.000000,2461.000000

In [ ]:
# 670,620 flights had carrier delays
# some of the flights with carrier delays also had other types of delays (max values for other delays are > 0)

In [45]:
print('Total carrier delay mean:',dfcd['CarrierDelay'].mean())
print('Total carrier delay median:',dfcd['CarrierDelay'].median())
print('Total carrier delay sum:',dfcd['CarrierDelay'].sum())

Total carrier delay mean: 35.85961050967761
Total carrier delay median: 19.0
Total carrier delay sum: 24048172.0

In [ ]:
# for flights with carrier delays:
# mean carrier delay: approx. 35.9 minutes
# median carrier delay: 19 minutes
# the total number of minutes of carrier delays over all flights was 24,048,172 minutes

In [46]:
dfwd = dfd[dfd['WeatherDelay'] > 0]
dfwd.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TotalDelay
count,99985.0,99985.000000,99985.000000,99985.000000,99985.000000,99985.000000,99985.000000,99985.000000,99985.000000,99985.000000,...,99985.000000,99985.000000,99985.0,99985.0,99985.000000,99985.000000,99985.000000,99985.000000,99985.000000,99985.000000
mean,2008.0,6.200670,15.993139,3.976817,1562.130810,1480.988678,1573.624964,1655.398900,2736.081712,140.458299,...,7.601960,28.070251,0.0,0.0,1.715407,46.344122,14.146802,0.002160,21.975666,84.184158
std,0.0,3.686919,8.730557,1.970509,484.679211,434.954475,638.547562,466.131013,2006.603338,71.289037,...,6.753973,25.114623,0.0,0.0,13.646769,61.591248,24.532820,0.224195,44.925171,74.639632
min,2008.0,1.000000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,17.000000,...,0.000000,0.000000,0.0,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,15.000000
25%,2008.0,3.000000,8.000000,2.000000,1220.000000,1135.000000,1242.000000,1331.000000,927.000000,90.000000,...,4.000000,14.000000,0.0,0.0,0.000000,11.000000,0.000000,0.000000,0.000000,35.000000
50%,2008.0,6.000000,16.000000,4.000000,1635.000000,1535.000000,1733.000000,1730.000000,2281.000000,125.000000,...,6.000000,20.000000,0.0,0.0,0.000000,25.000000,4.000000,0.000000,0.000000,62.000000
75%,2008.0,9.000000,23.000000,6.000000,1940.000000,1835.000000,2051.000000,2030.000000,4434.000000,172.000000,...,9.000000,33.000000,0.0,0.0,0.000000,57.000000,19.000000,0.000000,24.000000,109.000000
max,2008.0,12.000000,31.000000,7.000000,2400.000000,2359.000000,2400.000000,2359.000000,7829.000000,790.000000,...,175.000000,393.000000,0.0,0.0,1108.000000,1352.000000,395.000000,40.000000,1012.000000,1417.000000

In [47]:
len(dfwd)

99985

In [ ]:
# 99,985 flights had weather delays

In [48]:
print('Total weather delay mean:',dfwd['WeatherDelay'].mean())
print('Total weather delay median:',dfwd['WeatherDelay'].median())
print('Total weather delay sum:',dfwd['WeatherDelay'].sum())

Total weather delay mean: 46.34412161824274
Total weather delay median: 25.0
Total weather delay sum: 4633717.0

In [ ]:
# for flights with weather delays:
# mean weather delay: approx. 46.3 minutes
# median weather delay: 25 minutes
# the total number of minutes of weather delays over all flights was 4,633,717 minutes

In [49]:
dfnd = dfd[dfd['NASDelay'] > 0]
dfnd.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TotalDelay
count,928030.0,928030.000000,928030.000000,928030.000000,928030.000000,928030.000000,928030.000000,928030.000000,928030.000000,928030.000000,...,928030.000000,928030.000000,928030.0,928030.0,928030.000000,928030.000000,928030.000000,928030.000000,928030.000000,928030.000000
mean,2008.0,6.121680,15.667347,3.938570,1449.742551,1399.940372,1581.096720,1584.961590,2114.987260,159.563231,...,9.171915,28.459592,0.0,0.0,9.841466,2.794955,28.201089,0.053040,14.774530,55.665081
std,0.0,3.509688,8.768080,1.968808,465.204916,439.919845,546.835226,462.344504,1913.163405,78.484681,...,8.402136,21.490231,0.0,0.0,31.822722,18.655826,36.880118,1.341158,33.652492,56.104456
min,2008.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,16.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,15.000000
25%,2008.0,3.000000,8.000000,2.000000,1101.000000,1035.000000,1233.000000,1230.000000,601.000000,102.000000,...,5.000000,15.000000,0.0,0.0,0.000000,0.000000,8.000000,0.000000,0.000000,22.000000
50%,2008.0,6.000000,16.000000,4.000000,1504.000000,1430.000000,1656.000000,1633.000000,1470.000000,142.000000,...,7.000000,22.000000,0.0,0.0,0.000000,0.000000,18.000000,0.000000,0.000000,35.000000
75%,2008.0,9.000000,23.000000,5.000000,1829.000000,1745.000000,2021.000000,1949.000000,3241.000000,195.000000,...,10.000000,35.000000,0.0,0.0,7.000000,0.000000,31.000000,0.000000,15.000000,68.000000
max,2008.0,12.000000,31.000000,7.000000,2400.000000,2359.000000,2400.000000,2359.000000,9740.000000,790.000000,...,308.000000,429.000000,0.0,0.0,1552.000000,1153.000000,1357.000000,280.000000,1316.000000,2461.000000

In [50]:
len(dfnd)

928030

In [ ]:
# 928,030 flights had NAS delays (National Air System Delays)

In [51]:
print('Total NAS delay mean:',dfnd['NASDelay'].mean())
print('Total NAS delay median:',dfnd['NASDelay'].median())
print('Total NAS delay sum:',dfnd['NASDelay'].sum())

Total NAS delay mean: 28.201089404437358
Total NAS delay median: 18.0
Total NAS delay sum: 26171457.0

In [ ]:
# for flights with NAS delays:
# mean NAS delay: approx. 28.2 minutes
# median NAS delay: 18 minutes
# the total number of minutes of NAS delays over all flights was 26,171,457 minutes

In [52]:
dfsd = dfd[dfd['SecurityDelay'] > 0]
dfsd.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TotalDelay
count,6202.0,6202.000000,6202.000000,6202.000000,6202.000000,6202.000000,6202.000000,6202.000000,6202.000000,6202.000000,...,6202.000000,6202.000000,6202.0,6202.0,6202.000000,6202.000000,6202.000000,6202.000000,6202.000000,6202.000000
mean,2008.0,5.721058,15.315060,4.152854,1409.861013,1363.131087,1543.808933,1540.470332,1928.644953,142.135601,...,6.737827,19.153176,0.0,0.0,0.667527,0.099323,7.141890,18.432119,12.928088,39.268946
std,0.0,3.601220,9.037009,1.997462,501.733070,485.476743,563.897545,520.185012,1726.675741,78.194122,...,5.002365,13.884615,0.0,0.0,7.037078,3.259383,12.383768,22.185362,26.515397,32.837064
min,2008.0,1.000000,1.000000,1.000000,2.000000,15.000000,1.000000,1.000000,1.000000,16.000000,...,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,15.000000
25%,2008.0,3.000000,7.000000,2.000000,952.000000,929.250000,1121.250000,1117.250000,537.000000,80.000000,...,4.000000,10.000000,0.0,0.0,0.000000,0.000000,0.000000,7.000000,0.000000,20.000000
50%,2008.0,5.000000,16.000000,4.000000,1449.000000,1420.000000,1630.000000,1615.000000,1549.000000,123.000000,...,5.000000,15.000000,0.0,0.0,0.000000,0.000000,1.000000,13.000000,0.000000,28.000000
75%,2008.0,8.000000,23.000000,6.000000,1841.000000,1805.000000,2028.000000,2007.000000,2736.000000,181.000000,...,8.000000,23.000000,0.0,0.0,0.000000,0.000000,10.000000,22.000000,17.000000,45.000000
max,2008.0,12.000000,31.000000,7.000000,2359.000000,2359.000000,2400.000000,2359.000000,7829.000000,507.000000,...,69.000000,175.000000,0.0,0.0,226.000000,192.000000,153.000000,392.000000,426.000000,441.000000

In [53]:
len(dfsd)

6202

In [ ]:
# 6,202 flights had security delays

In [54]:
print('Total security delay mean:',dfsd['SecurityDelay'].mean())
print('Total security delay median:',dfsd['SecurityDelay'].median())
print('Total security delay sum:',dfsd['SecurityDelay'].sum())

Total security delay mean: 18.432118671396324
Total security delay median: 13.0
Total security delay sum: 114316.0

In [ ]:
# for flights with security delays:
# mean security delay: approx. 18.4 minutes
# median security delay: 13 minutes
# the total number of minutes of security delays over all flights was 114,316 minutes

In [55]:
dfld = dfd[dfd['LateAircraftDelay'] > 0]
dfld.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TotalDelay
count,699418.0,699418.000000,699418.000000,699418.000000,699418.000000,699418.000000,699418.00000,699418.000000,699418.000000,699418.000000,...,699418.000000,699418.000000,699418.0,699418.0,699418.000000,699418.000000,699418.000000,699418.000000,699418.000000,699418.000000
mean,2008.0,6.032784,15.756703,3.974422,1635.968214,1568.183011,1661.14819,1722.167850,2037.425372,131.451611,...,7.129652,19.146881,0.0,0.0,7.006185,1.461308,9.268427,0.036699,45.280851,63.053470
std,0.0,3.566436,8.793711,1.983934,421.034503,371.619187,597.20583,434.690595,1833.540916,69.374034,...,5.922353,15.490818,0.0,0.0,24.875130,12.270742,22.040898,0.980389,47.436874,57.776752
min,2008.0,1.000000,1.000000,1.000000,1.000000,0.000000,1.00000,0.000000,1.000000,14.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,15.000000
25%,2008.0,3.000000,8.000000,2.000000,1344.000000,1305.000000,1431.00000,1446.000000,584.000000,80.000000,...,4.000000,10.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,16.000000,26.000000
50%,2008.0,6.000000,16.000000,4.000000,1706.000000,1615.000000,1818.00000,1805.000000,1472.000000,115.000000,...,6.000000,15.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,29.000000,44.000000
75%,2008.0,9.000000,23.000000,5.000000,1948.000000,1850.000000,2106.00000,2040.000000,3055.000000,163.000000,...,8.000000,22.000000,0.0,0.0,6.000000,0.000000,10.000000,0.000000,58.000000,79.000000
max,2008.0,12.000000,31.000000,7.000000,2400.000000,2359.000000,2400.00000,2359.000000,9740.000000,1114.000000,...,225.000000,422.000000,0.0,0.0,2436.000000,1352.000000,1289.000000,178.000000,1316.000000,2461.000000

In [56]:
len(dfld)

699418

In [ ]:
# 699,418 flights had late aircraft delays

In [57]:
print('Total late aircraft delay mean:',dfld['LateAircraftDelay'].mean())
print('Total late aircraft delay median:',dfld['LateAircraftDelay'].median())
print('Total late aircraft delay sum:',dfld['LateAircraftDelay'].sum())

Total late aircraft delay mean: 45.28085065011195
Total late aircraft delay median: 29.0
Total late aircraft delay sum: 31670242.0

In [ ]:
# for flights with late aircraft delays:
# mean late aircraft delay: approx. 45.3 minutes
# median late aircraft delay: 29 minutes
# the total number of minutes of late aircraft delays over all flights was 31,670,242 minutes

In [ ]:
# the total number of minutes of delays over all flights was 86,637,904 minutes
# carrier delays: 24,048,172 minutes
# weather delays: 4,633,717 minutes
# NAS delays: 26,171,457 minutes
# security delays: 114,316 minutes
# late aircraft delays: 31,670,242 minutes